<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix India - Watch Tv Show Online</title>
    <link rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/mainpage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
</head>

<body>


    <header>
        <nav>
            <div class="nav1">
                <div class="menu-icon">&#9776;</div>
                <a href="/home"> <img src="img/Netflix-Brand-Logo.png" alt=""></a>
                <ul class="nav-links">
                    <li><a href="/home" class="active">Home</a></li>
                    <li><a href="/tvshow">TV show</a></li>
                    <li><a href="/movie">movie</a></li>
                    <li><a href="/new&popular">New&popular</a></li>
                    <li><a href="/mylist">Mylist</a></li>
                </ul>
            </div>

            <div class="nav2">
                <div class="search">
                    <a href="" class="navbar-brand"> <i class="fa fa-search"></i></a>
                </div>
                <div class="notification">
                    <a href="" class="navbar-brand"><i class="far fa-regular fa-bell"></i></a>
                </div>
                <div class="dropdown ">
                    <a href="/" class="d-block  link-body-emphasis text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="img/profile.png">
                    </a>
                    <ul class="dropdown-menu text-left">
                        <li><a class="dropdown-item" href="/home"><%=user.username%></a></li>
                        <!-- <li><a class="dropdown-item" href="/home">Profile</a></li> -->
                        <li><a class="dropdown-item" href="/exit-profile/<%=user.username%>">Exit profile</a></li>
                        <!-- <li><a class="dropdown-item" href="#">Transfer profile</a></li> -->
                        <!-- <li><a class="dropdown-item" href="#">Account</a></li> -->
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout">Sign out of netflix</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section id="hero-section">
        <!-- <video id="background-video" autoplay muted >
            <source src="video/raniganj.mp4" type="video/mp4">
        </video> -->

        <div class="demoinfo row justify-content-start">
            <div class="col-md-5">
                <img src="img/movieimg/pic4.webp" alt="">
                <p class="py-4">A link in their pasts leads an honest cop to a fugitive gang boss, whose cryptic warning
                    spurs the officer on a quest to save Mumbai from cataclysm.</p>
                <div class="btn-grp">
                    <a href="https://www.youtube.com/watch?v=w-Xe8gLBc5I&ab_channel=NetflixIndia" target="_blank"
                        class="navbar-brand" style="background-color: #fff; color: #000;"><i
                            class="fas fa-solid fa-play fs-5"></i> play</a>
                    <a href="https://en.wikipedia.org/wiki/Sacred_Games_(TV_series)" target="_blank" class="navbar-brand ms-2"
                        style="background-color: rgba(109, 109, 110, 0.7); color: #ffffff;"><i
                            class="fas fa-solid fa-circle-info fs-4"></i> more info</a>
                </div>
            </div>
        </div>
    </section>




    <section id="movie-list">
        <h1>Popular on Netflix</h1>
        <div class="carousel">
            <div class="card">
                <img src="https://occ-0-2484-3662.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABYtI_BQqeNmgZKBaKMLyyg69u-a4LkRtMOQQ3a3FSDI5yWVgm-yjdtJknQ1YQ6bAK-jAAl6QoXiWeGCMPsTIen8ei6mG1pc7msECauF9urvWmaNVgLBlciyifu2xtnYxEbK3rj7GKRGijlnVO8eKpiHXNbShHvGW229_yPqlkuVTADtFKtA5ZZb8XPiQt-E-IARXVNW94qHc7zt98WXhDmDIteE-Rkf8Eb6NDgmtiervEy6JTp9VuyzAr8JZLjsrhEvQ3kEMzMNaZCQ0Y_lLiW6XlMFHN8cZxnhcQNdMYtL1UPT3fLdL8lWEysEx8VNFkpE8PSGiYEdYGJLu0mn64WM.webp?r=ddf"
                    style="width: 220px;" alt="" class="movie-image">
                <div class="overlay">
                    <h2>Leo</h2>
                    <p>Actions thriller</p>
                    <div class="links-btn">
                        <a href="https://www.youtube.com/watch?v=Po3jStA673E&ab_channel=SunTV" target="_blank"><i
                                class="fas fa-solid fa-play"></i></a>
                        <a href=""><i class="fas fa-solid fa-plus"></i></a>
                        <a href="https://en.wikipedia.org/wiki/Leo_(2023_Indian_film)" target="_blank"><i
                                class="fas fa-solid fa-circle-info"></i></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://occ-0-2484-3662.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABVVBefzzb0fZRln5fGdbTRgA36U6DGx_DREST_G13nc_wthS0FNli_QP-4VGIYiA5mUG2eHkpW3oy40Xnla9LBrejki0Dtx_LNx7-W_cxCgoV3nxqPCkuhelZNT__Oflm2Ae.jpg?r=31e"
                    style="width: 220px;" alt="">
                <div class="overlay">
                    <h2>Lucifer</h2>
                    <p>Exciting,FantasyTv</p>
                    <div class="links-btn">
                        <a href="https://www.youtube.com/watch?v=X4bF_quwNtw&ab_channel=Lucifer" target="_blank"><i
                                class="fas fa-solid fa-play"></i></a>
                        <a href=""><i class="fas fa-solid fa-plus"></i></a>
                        <a href="https://en.wikipedia.org/wiki/Lucifer_(TV_series)" target="_blank"><i
                                class="fas fa-solid fa-circle-info"></i></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://occ-0-2484-3662.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABU-_i84Fexb62PBJx0WRPFJQ1v53lPFnttQr3StjpbwgkV8Sk4C_6rBDk7uTWU5CWt7-mfCGL4JryRQwDlG7Y67oBF7BjqwWUWg.webp?r=3ed"
                    style="width: 220px;" alt="">
                <div class="overlay">
                    <h2>Jurassic world</h2>
                    <p>Explosive Sc-fi Adventure</p>
                    <div class="links-btn">
                        <a href="https://www.youtube.com/watch?v=lBYSidgkJ28&ab_channel=DishoommPlus" target="_blank"><i
                                class="fas fa-solid fa-play"></i></a>
                        <a href=""><i class="fas fa-solid fa-plus"></i></a>
                        <a href="https://en.wikipedia.org/wiki/Jurassic_World" target="_blank"><i
                                class="fas fa-solid fa-circle-info"></i></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://occ-0-2484-3662.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABdv-QNJ6jNo463XXZnyLevyTJKdMcpiSZgB5nxVfwMQBWxC3fzIDErOtCENnt3YAmqes_-XbaEtO0NLHPEmRVsVsJfocLhPomq0.webp?r=b5c"
                    style="width: 220px;" alt="">
                <div class="overlay">
                    <h2>OMG</h2>
                    <p>Actions thriller</p>
                    <div class="links-btn">
                        <a href="https://www.youtube.com/watch?v=SVQnSecxi9Q&ab_channel=DiginetPlex" target="_blank"><i
                                class="fas fa-solid fa-play"></i></a>
                        <a href=""><i class="fas fa-solid fa-plus"></i></a>
                        <a href="https://en.wikipedia.org/wiki/OMG_2#:~:text=OMG%202%20is%20a%202023,Tripathi%20and%20Yami%20Gautam%20Dhar.&text=The%20film%20revolves%20around%20sex%20education%20in%20India."
                            target="_blank"><i class="fas fa-solid fa-circle-info"></i></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://occ-0-2484-3662.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABZBfQmG7ZdxLak5vuUnbaBGHI1vztog_iSqNlwHVZm9f_X1Q_uhX_aMM3TsHEeZuRUVaJlTJ2RcO0SVGkCO_sz5Ecwpu5z-rB6Pb9pvxPHAIqzyLnz28UzbH-q_mTfdsndgy4LSewGkXQjN5p5FBwEb8q-Alw0umVnCjvyTSMCUzmYiHcYeukWOuE7qzCas.jpg?r=a95"
                    style="width: 220px;" alt="">
                <div class="overlay">
                    <h2>One Piece</h2>
                    <p>Adventure, Epic world</p>
                    <div class="links-btn">
                        <a href="https://www.youtube.com/watch?v=lNMSqxQtO0w&ab_channel=Netflix" target="_blank"><i
                                class="fas fa-solid fa-play"></i></a>
                        <a href=""><i class="fas fa-solid fa-plus"></i></a>
                        <a href="https://en.wikipedia.org/wiki/One_Piece_(film)" target="_blank"><i
                                class="fas fa-solid fa-circle-info"></i></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://occ-0-2484-3662.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABRGGxEEYSrhGD4q8uJuWLnKU6VFfwL8KjBs09QqtdENMF9ZUXTjTiwF1v06gyUsuC7qzOi9QUnRfshR8AUYoJGkv3tSJCCHAMpc.webp?r=26d"
                    style="width: 220px;" alt="">
                <div class="overlay">
                    <h2>Tu Jhuti Mai Makkaar</h2>
                    <p>Romantic comedy</p>
                    <div class="links-btn">
                        <a href="https://www.youtube.com/watch?v=wopuzYPn3Qo&ab_channel=DG" target="_blank"><i
                                class="fas fa-solid fa-play"></i></a>
                        <a href=""><i class="fas fa-solid fa-plus"></i></a>
                        <a href="https://en-m-wikipedia-org.translate.goog/wiki/Tu_Jhoothi_Main_Makkaar?_x_tr_sl=en&_x_tr_tl=hi&_x_tr_hl=hi&_x_tr_pto=tc"
                            target="_blank"><i class="fas fa-solid fa-circle-info"></i></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://occ-0-2484-3662.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABVdloOt_WBUTMXn7QpEbWU7okbGwAoBhvW9TLE8ishUL8FZEjz3YQNbt8f24dSH9lGMrFYfv2EnSL2pWiIZCcRXwt_M9F1DLUYbwYOuN81gujKQ1Y0WEo0gUqhEZXC-dV87M1WiNya83kGO-AelTG0apqij51G0k4-fjyNoZMKP8BkVcfbSbZl5YU9t7qgI.jpg?r=03a"
                    style="width: 220px;" alt="">
                <div class="overlay">
                    <h2>The Railway Men</h2>
                    <p>Actions thriller</p>
                    <div class="links-btn">
                        <a href="https://www.youtube.com/watch?v=iD3TZ_Xxc14&ab_channel=NetflixIndia" target="_blank"><i
                                class="fas fa-solid fa-play"></i></a>
                        <a href=""><i class="fas fa-solid fa-plus"></i></a>
                        <a href="https://en.m.wikipedia.org/wiki/The_Railway_Men" target="_blank"><i
                                class="fas fa-solid fa-circle-info"></i></a>
                    </div>
                </div>
            </div>

        </div>

    </section>


    <section id="movie-list">
        <h1>Trending Now</h1>
        <div class="carousel">
            <div class="card">
                <img src="https://occ-0-2484-3662.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABYTmVxQqLn59uHcf_EfouLO_inszoNSGDF4hsy4NrWX0jiU3LWoPRCsYl1wlxOC6q80dGT-UdODJAx3XcxrD76Tylscelq85yGT4WDPd9uDx6wC6Lu_R5Kce9g2tJTZTAknocTuZpEVWmpkD0PLLOWDSLDQJyl4gdyxCUkaKOcesy8tVxtXVEKGP7G_3RqjcMBXJOhrkmyiJXCLbZwumWl6PsHu4ZW_j8Xw8RoU_v2cPGRGDmRDZkk6LlV69XZb5SvT-JqyGx9VMvAo5GzAk5-YcFRRuJL2XVXtVz77KYCvFhm58eGvXAQkDFqvv_RzUamEIblMRCPFXcS2wUwKqtREv8Rfp5FK8TQD8QjvjYJdUjl9l6nY.jpg?r=434"
                    alt="" style="width: 220px;">
                <div class="overlay">
                    <h2>SQUID GAME</h2>
                    <p>RealityTV ,Compeition</p>
                    <div class="links-btn">
                        <a href="https://www.youtube.com/watch?v=O61C8zc8Znk&ab_channel=Netflix" target="_blank"><i
                                class="fas fa-solid fa-play"></i></a>
                        <a href=""><i class="fas fa-solid fa-plus"></i></a>
                        <a href="https://en.m.wikipedia.org/wiki/Squid_Game" target="_blank"><i
                                class="fas fa-solid fa-circle-info"></i></a>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="https://occ-0-2484-3662.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABeCWHhzL3J_ZDF76BcGHo8pU1NQhXLTeWAc567i8cxeCR8h5dgV49kkVU9z0ykln0WzUDiERb97yPCM5ETZ82c_fkyZP-SJgIRfgI9wbYxmcgoYk6b00PaJUTNTU104Yc0GV.jpg?r=567"
                    alt="" style="width: 220px;">
                <div class="overlay">
                    <h2>Khufiya</h2>
                    <p>Actions thriller</p>
                    <div class="links-btn">
                        <a href="https://www.youtube.com/watch?v=ByojhBwG_-E&ab_channel=NetflixIndia" target="_blank"><i
                                class="fas fa-solid fa-play"></i></a>
                        <a href=""><i class="fas fa-solid fa-plus"></i></a>
                        <a href="https://en.m.wikipedia.org/wiki/Khufiya" target="_blank"><i
                                class="fas fa-solid fa-circle-info"></i></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://occ-0-2484-3662.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABVmuMyVK5LBYLsHdSKvJi4LyKA1x1SGiN23M7S4awmSA0hAc4r5JjOCyi3-VjJAchXFR5_sS6rmG61Y8A4uj8r76uX1unmP7Hn0KyIF24KmUPG_mgTlJRaTT-n2cysKHfpUy.jpg?r=55e"
                    style="width: 220px;" alt="">
                <div class="overlay">
                    <h2>KHAKEE</h2>
                    <p>True Crime , Corruption</p>
                    <div class="links-btn">
                        <a href="https://www.youtube.com/watch?v=XneHBxjMg_Y&ab_channel=NetflixIndia" target="_blank"><i
                                class="fas fa-solid fa-play"></i></a>
                        <a href=""><i class="fas fa-solid fa-plus"></i></a>
                        <a href="https://en.m.wikipedia.org/wiki/Khakee:_The_Bihar_Chapter" target="_blank"><i
                                class="fas fa-solid fa-circle-info"></i></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://occ-0-2484-3662.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABTc0-P8y5wvX7zU2wQJ1ThmAXyTDJf6cFB2fFn0abGTyT30caC5IH_n_tELJ2_VRAzQjY4j5r5dRSwPVSGJqKlCC7wPw9o7aaMaE5SSyHKbxYrH9ezfofPWWB_y3tOOqcKIX.jpg?r=687"
                    style="width: 220px;" alt="">
                <div class="overlay">
                    <h2>JAANE JAAN</h2>
                    <p>suspenciful, thriller</p>
                    <div class="links-btn">
                        <a href="https://www.youtube.com/watch?v=KZznlFFgMrc&ab_channel=TELEMINEFILMS"
                            target="_blank"><i class="fas fa-solid fa-play"></i></a>
                        <a href=""><i class="fas fa-solid fa-plus"></i></a>
                        <a href="https://en.m.wikipedia.org/wiki/Jaane_Jaan_(2023_film)" target="_blank"><i
                                class="fas fa-solid fa-circle-info"></i></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://occ-0-2484-3662.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABYtI_BQqeNmgZKBaKMLyyg69u-a4LkRtMOQQ3a3FSDI5yWVgm-yjdtJknQ1YQ6bAK-jAAl6QoXiWeGCMPsTIen8ei6mG1pc7msECauF9urvWmaNVgLBlciyifu2xtnYxEbK3rj7GKRGijlnVO8eKpiHXNbShHvGW229_yPqlkuVTADtFKtA5ZZb8XPiQt-E-IARXVNW94qHc7zt98WXhDmDIteE-Rkf8Eb6NDgmtiervEy6JTp9VuyzAr8JZLjsrhEvQ3kEMzMNaZCQ0Y_lLiW6XlMFHN8cZxnhcQNdMYtL1UPT3fLdL8lWEysEx8VNFkpE8PSGiYEdYGJLu0mn64WM.webp?r=ddf"
                    alt="Movie Title" style="width: 220px;">
                <div class="overlay">
                    <h2>Leo</h2>
                    <p>Actions thriller</p>
                    <div class="links-btn">
                        <a href="https://www.youtube.com/watch?v=Po3jStA673E&ab_channel=SunTV" target="_blank"><i
                                class="fas fa-solid fa-play"></i></a>
                        <a href=""><i class="fas fa-solid fa-plus"></i></a>
                        <a href="https://en.m.wikipedia.org/wiki/Leo_(2023_Indian_film)" target="_blank"><i
                                class="fas fa-solid fa-circle-info"></i></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://occ-0-2484-3662.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABeG52N7JG9wIPIkksRS6g1ZRphNG1gMiY1pYqT1fWFoPr5dwU6ubAqNiriAMUqJ0WKt0O9IhbQW6xBfoGLoIqdzO7hYT4tzcP3w.webp?r=fcb"
                    style="width: 220px;" alt="">
                <div class="overlay">
                    <h2>ADIPURuSH</h2>
                    <p>Epic World , Demons</p>
                    <div class="links-btn">
                        <a href="https://www.youtube.com/watch?v=WAxc0DXLJy8&ab_channel=addictionmovie"
                            target="_blank"><i class="fas fa-solid fa-play"></i></a>
                        <a href=""><i class="fas fa-solid fa-plus"></i></a>
                        <a href="https://en.m.wikipedia.org/wiki/Adipurush" target="_blank"><i
                                class="fas fa-solid fa-circle-info"></i></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://occ-0-2484-3662.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABXB6Stkz4MWq90WOQR2ihjru07WYrWaHvok9JuRb6LFuYUSXkLK12D6JkNALLBcXliZhyCKnZ-KS2zIixCSdIkRnt1tsnFgFZhdISpxjjRkYqz4SFhOCbn_nOgVwcNzKRBHoJvo2gsc4uwgXpmYb3pIC7DJwgSPyJJwlVUukYt3LAJE4gyc_BIy3yhx85zM.jpg?r=2db"
                    style="width: 220px;" alt="">
                <div class="overlay">
                    <h2>One Piece</h2>
                    <p>Actions thriller</p>
                    <div class="links-btn">
                        <a href="https://www.youtube.com/watch?v=lNMSqxQtO0w&ab_channel=Netflix" target="_blank"><i
                                class="fas fa-solid fa-play"></i></a>
                        <a href=""><i class="fas fa-solid fa-plus"></i></a>
                        <a href="https://en.m.wikipedia.org/wiki/One_Piece" target="_blank"><i
                                class="fas fa-solid fa-circle-info"></i></a>
                    </div>
                </div>
            </div>

        </div>

    </section>




    <section id="movie-list">
        <h1>Made in India</h1>
        <div class="carousel">
            <div class="card">
                <img src="https://occ-0-2484-3662.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABS_zvH0B6AJA6wDYYVTUyIcRM9BeU7yEJXCv7-WlOw1x62M5FJlbRUpaVIYEncdyjOzwbs6Ksl2LtH_1Ud0VVb-Zrg73AgARZqo.webp?r=f74"
                    style="width: 220px;" alt="">
                <div class="overlay">
                    <h2>83</h2>
                    <p>Inspiring , Drama</p>
                    <div class="links-btn">
                        <a href="https://www.youtube.com/watch?v=uZIjuqZYTWg&ab_channel=Dhayalproduction.44kview.2hoursago"
                            target="_blank"><i class="fas fa-solid fa-play"></i></a>
                        <a href=""><i class="fas fa-solid fa-plus"></i></a>
                        <a href="https://en.m.wikipedia.org/wiki/83_(film)" target="_blank"><i
                                class="fas fa-solid fa-circle-info"></i></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://occ-0-2484-3662.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABYgMo2qLlpmKS6hLgZgjMt_WJf83o3Xu5wAHR8ojVw1BLpVGeKnsi3keKH9lFJJgNzphExO33g_BbOHFvGowIAwAysIvBgdDPZLfixZPfMguJ8zUm7HeRlMQhJzGo8qz0oVP.jpg?r=860"
                    style="width: 220px;" alt="">
                <div class="overlay">
                    <h2>SHE</h2>
                    <p>pshycological thriller</p>
                    <div class="links-btn">
                        <a href="https://www.youtube.com/watch?v=WPlXILGpOFk&ab_channel=NetflixIndia" target="_blank"><i
                                class="fas fa-solid fa-play"></i></a>
                        <a href=""><i class="fas fa-solid fa-plus"></i></a>
                        <a href="https://en.m.wikipedia.org/wiki/She_(TV_series)" target="_blank"><i
                                class="fas fa-solid fa-circle-info"></i></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://occ-0-2484-3662.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABVh7eUc_bBWnSUrHJWDQ0R9wcFx-ZBlXK6_eh1TNb7o5pZtfyNkDGC8V_NZUutnOWVMdvWgSnHad0WgRHuhzrffFH0YxnyWPaNNwulUXRKLx5rLIQwCOCfZTs3A2JPrwTKPV.jpg?r=221"
                    style="width: 220px;" alt="">
                <div class="overlay">
                    <h2>JAMATRA</h2>
                    <p>Grity , Thriller</p>
                    <div class="links-btn">
                        <a href="https://www.youtube.com/watch?v=5upM-G67_Rs&ab_channel=NetflixIndia" target="_blank"><i
                                class="fas fa-solid fa-play"></i></a>
                        <a href=""><i class="fas fa-solid fa-plus"></i></a>
                        <a href="https://en.wikipedia.org/wiki/Jamtara_%E2%80%93_Sabka_Number_Ayega" target="_blank"><i class="fas fa-solid fa-circle-info"></i></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://occ-0-2484-3662.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABRg5Orp0NqGesXdax1b7F7tWQGEAPaxxPX8HUFL5GY-1eyxI_Se_5tOMuNkVhZQ19MRyz25-ZWnKMEs-MczJpsAlj6OX0A6dFIO91cXyqeHvm4wzlgPr_ck6xDb61VHVfF4u.jpg?r=2d5"
                    style="width: 220px;" alt="">
                <div class="overlay">
                    <h2>DELHI CRIME</h2>
                    <p>Dark thriller</p>
                    <div class="links-btn">
                        <a href="https://www.youtube.com/watch?v=jNuKwlKJx2E&ab_channel=Netflix" target="_blank"><i
                                class="fas fa-solid fa-play"></i></a>
                        <a href=""><i class="fas fa-solid fa-plus"></i></a>
                        <a href="https://en.wikipedia.org/wiki/Delhi_Crime" target="_blank"><i
                                class="fas fa-solid fa-circle-info"></i></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://occ-0-2484-3662.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABXQwgeGJYrGmvfQnae50maLPVg8sVQEahb1j8E2lhT3nYPLjMU7AkzIwYS-93IUIkujve4nWrr2OBpGPQ6rrC4ber58jQTLMNOItjSortKtS6SAcD1HarrBtND0zn4vgec0c.jpg?r=e81"
                    style="width: 220px;" alt="">
                <div class="overlay">
                    <h2>Lust Stories 2</h2>
                    <p>Romantic Dramedy</p>
                    <div class="links-btn">
                        <a href="https://www.youtube.com/watch?v=Z3Z7RocQUXI&ab_channel=NetflixIndia" target="_blank"><i
                                class="fas fa-solid fa-play"></i></a>
                        <a href=""><i class="fas fa-solid fa-plus"></i></a>
                        <a href="https://en.wikipedia.org/wiki/Lust_Stories_2" target="_blank"><i
                                class="fas fa-solid fa-circle-info"></i></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://occ-0-2484-3662.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABQuxO4Zfc8m4IAAaGrT8s2FudK-aFxaBsPTUCD1k7dCxilO3XN76v1iTPrT2GGVT46zideleMv4FJvYzXm-bJXKwxUWQcZq7-To.webp?r=f80"
                    style="width: 220px;" alt="">
                <div class="overlay">
                    <h2>GOOD BYE</h2>
                    <p>Emotinal Dramedy</p>
                    <div class="links-btn">
                        <a href="https://www.youtube.com/watch?v=n5gICDMQOcA&ab_channel=BalajiMotionPictures"
                            target="_blank"><i class="fas fa-solid fa-play"></i></a>
                        <a href=""><i class="fas fa-solid fa-plus"></i></a>
                        <a href="https://en.wikipedia.org/wiki/Goodbye_(2022_film)" target="_blank"><i
                                class="fas fa-solid fa-circle-info"></i></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://occ-0-2484-3662.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABfSuHzjoY63KWzQzRgdImD9lljzbQs8GMjwo-ZGuSsiIMaDARoXwD1yPM31_ngEOzWBL172h785QZU0oWCOm35KJfC5NJW1VraA.webp?r=ae6"
                    style="width: 220px;" alt="">
                <div class="overlay">
                    <h2>SIR</h2>
                    <p>Exciting Drama</p>
                    <div class="links-btn">
                        <a href="https://www.youtube.com/watch?v=oik0TIvHzuw&ab_channel=praphullitmovie"
                            target="_blank"><i class="fas fa-solid fa-play"></i></a>
                        <a href=""><i class="fas fa-solid fa-plus"></i></a>
                        <a href="https://en.wikipedia.org/wiki/Vaathi" target="_blank"><i
                                class="fas fa-solid fa-circle-info"></i></a>
                    </div>
                </div>
            </div>

        </div>

    </section>




    <footer>
        <div class="icon-grp col-2">
            <a href="https://www.facebook.com/NetflixIN" target="_blank"><i class=" fa-brands fa-facebook-f"></i></a>
            <a href=""><i class=" fa-brands fa-instagram"></i></a>
            <a href=""><i class=" fa-brands fa-twitter"></i></a>
            <a href=""><i class=" fa-brands fa-youtube"></i></a>
        </div>
        <div class="other-links row col-12 mt-4">
            <div class="col-md-3 ">
                <a href="">Audio Descrption</a>
                <a href="">Investor relation</a>
                <a href="">legal Notice</a>
                <a href="" class="service-code">service code</a>
                <span>&copy;1997-2023 Netflix,Inc</span>
            </div>
            <div class="col-md-3">
                <a href="">Help Center</a>
                <a href="">Jobs</a>
                <a href="">Cookie Preference</a>
            </div>
            <div class="col-md-3">
                <a href="">Gift Card</a>
                <a href="">Terms of Use</a>
                <a href="">corporate Information</a>
            </div>
            <div class="col-md-3">
                <a href="">Media Center</a>
                <a href="">Privacy</a>
                <a href="">Contact Us</a>
            </div>
        </div>
    </footer>







    <script src="js/index.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>

        $(document).ready(function () {
            $('.carousel').slick({
                dots: true,
                infinite: true,
                speed: 300,
                slidesToShow: 5,
                prevArrow: '<button type="button" class="slick-prev">Previous</button>',
                nextArrow: '<button type="button" class="slick-next">Next</button>',
                adaptiveHeight: true,
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 359,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        });
    </script>
    <script>
        document.querySelector('.menu-icon').addEventListener('click', function () {
            document.querySelector('.nav-links').classList.toggle('active');
        });

    </script>
    <script>
        document.getElementById('background-video').play();
    </script>

</body>

</html>