
*{
    font-family: sans-serif;
}

header {
    padding: 2px 40px;
    border-bottom: 1px solid rgb(222, 222, 222);
}


header nav div a img {
    width: 140px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav div a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 21px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

header nav div a:hover {
    text-decoration: underline;
    color: #000;
}

.centerimg img {
    width: 300px;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.centerimg a {
    width: 250px;
    padding: 10px 30px;
    background-color: red;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 3px;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}


.max-width {
    max-width: 470px;
    margin: 20px auto;
    /* border: 1px solid red ; */
    padding: 50px 20px;
}

.max-width h1 {
    font-size: 30px;
    padding: 10px 0px;
    font-weight: 600;
}

.max-width h3 {
    font-size: 17px;
    font-weight: 500;
}

.max-width div input[type=text] {
    padding: 15px 20px;
    margin-top: 18px;
    outline: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 10px auto;
    box-shadow: none;
    border-radius: 0px;
}

.max-width div input[type=password] {
    padding: 15px 20px;
    margin-top: 18px;
    outline: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 10px auto;
    box-shadow: none;
    border-radius: 5px;
}

.max-width div input[type=email] {
    padding: 15px 20px;
    margin-top: 18px;
    outline: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 10px auto;
    box-shadow: none;
    border-radius: 5px;
}

.max-width button {
    padding: 13px 20px;
    margin-top: 18px;
    outline: none;
    background-color: red;
    color: #fff;
    font-weight: 400;
    border: none;
    font-size: 22px;
    text-transform: capitalize;
    box-shadow: none;
}

.max-width .mail {
    margin: 1px 0px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: #1f1f1f;
    font-size: 17px;
    font-weight: 500
}

.max-width div .navbar-brand {
    padding-top: 20px;
    font-weight: 600;
    color: rgb(104, 104, 251);
}

footer {
    margin-top: 90px;
    padding: 50px 120px;
    background-color: #f3f3f3;
}

footer li {
    list-style: none;
    margin-bottom: 15px;

}

footer li a {
    text-decoration: none;
    color: #878787;
}


footer li a:hover {
    color: #878787;
}

@media(max-width:576px) {
    header nav div a img {
        width: 100px;
    }

    header nav div a {
        font-size: 19px;
    }

    header {
        padding: 0px 15px;
    }

    footer {
        margin-top: 120px;
        padding: 40px 40px;
    }

}